nav {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;

    // .navbar-collapse{
    //     min-height: 100px !important;
    // }
}

.nav-add {
    display: none;

}

.navbar-content {

    .search-bar {
        input {
            outline: none !important;
        }

        input::placeholder {
            color: #ccc;
        }
    }

    .midia {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        a {
            text-decoration: none;
            color: #111;
        }

        i {
            font-size: 25px;
            margin-left: 10px;
        }
    }

    .login-reg {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-login {
        text-decoration: none;
        color: #111;
        padding: 8px;
        margin-right: 10px;
        text-align: center;
        width: 150px;
        margin-bottom: 10px;
        border-radius: 2px;
        border: 1px solid #111;

        i {
            margin-right: 10px;
        }
    }

    .nav-cadastrar {
        text-decoration: none;
        color: #111;
        padding: 8px;
        text-align: center;
        width: 150px;
        margin-bottom: 10px;
        border-radius: 2px;
        border: 1px solid #111;
    }

    .nav-cadastrar:hover,
    .nav-login:hover {
        background-color: #111;
        color: #ddd;
        transition: ease .5s;
    }

    .menu-items {
        max-height: 400px;
        display: flex;
        justify-content: center;

        li {
            margin-right: 40px;
        }

        li:hover {
            color: rgb(3, 3, 83);
            font-weight: bold;
            transition: .5s;
        }
    }
}

/************ CATEGORIAS DE MENU CURSOS *************/ 
.menu-cursos {
    .menu-curso-container {
        position: relative;
        margin-left: 1rem;
        top:0;

        border-radius: 0px 10px 10px 10px;
        box-shadow: 1px 2px 10px #ccc;

        /***Dropdown cursos***/
        display:none;
        transition: 1s;

        ul {
            padding: 0;
            margin: 12px;
        }

        ul li {
            width: 100%;
            list-style: none;
            border-bottom: 1px solid #ddd;
            outline: none !important;
        }

        ul li:hover {
            color: rgb(3, 3, 83);
            transform: translateX(8px);
            border-radius: 30px;
            transition: ease-in-out 0.4s;

        }
    }


}
/*********** SUB CATEGORIAS DOS CURSOS ************/ 
.ti-container,
.dev-container,
.negocio-container,
.fin-cont-container,
.prod-esc-container,
.design-container,
.marketing-container,
.est-vida-container,
.Fot-vid-container,
.saud-fit-container,
.ensino-container,
.desnvol-pes-container,
.musica-container,
.desnvol-pes-container{
    position: absolute;
    background-color: #eee;
    left: 4rem;
    padding-left: 1.5rem !important;
    display: none;
    box-shadow: 1px 2px 5px #aaa;
    font-size: 15px;
    z-index: 1;
    text-transform: capitalize;
}
// HOVERS OPTION
.ti-software:hover> .ti-container,
.est-vida:hover> .est-vida-container,
.Fot-vid:hover> .Fot-vid-container,
.saud-fit:hover> .saud-fit-container,
.ensino:hover> .ensino-container,
.marketing:hover> .marketing-container,
.design:hover> .design-container,
.negocio:hover> .negocio-container,
.fin-cont:hover> .fin-cont-container,
.prod-esc:hover> .prod-esc-container,
.dev:hover> .dev-container,
.desnvol-pes:hover> .desnvol-pes-container{
    display: block ;
    top: 1.4rem;
    z-index: 100;
}

.musica:hover> .musica-container{
    display: block ;
    bottom: 0.4rem;
    z-index: 100;
}



// /***** Ativa o dropdown menu cursos ******/ 
.menu-cursos:hover>.menu-curso-container {
    // max-height: 690px;
    display: block;
    transition: ease-in .5s;
    z-index: 2;
    
}

.menu-cursos:hover{
    margin-top: 11.5rem;
}