@import './main';
@import "./fonts";

.fr_container {
    @include container();


    table {

        .fr_name {
            font-size: 15px;
            margin: 0;
            color: #222;
            font-family: $roboto;
        }

        .fr_profissao {
            font-size: 13px;
            color: #888;
        }

        .fr_img {
            width: 40px;
            height: 40px;
            border-radius: 10px;
        }

        .fr_skills {
            font-size: 13px;
            color: #888;
        }

        .fr_email {
            font-size: 14px;
            color: #888;
        }

        .fr_id {
            font-size: 16px;
            color: #888;
            display: block;
        }
        
        .fr_edit{
            background-color: rgba(2, 119, 228, 0.322);
            color: rgb(0, 60, 255);
        }
        .fr_delete{
            background-color: rgba(255, 0, 0, 0.233);
            color: red;
        }
        .fr_view{
            background-color: rgba(0, 128, 0, 0.301);
            color: green;
        }
        .fr_edit,
        .fr_delete,
        .fr_view{
            padding: 4px;
            border-radius: 4px;
        }
    }
}