
/***** GENERAL CONFIG START *****/ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr 1fr;    
}

header{
    background-color: rgb(11, 11, 49);
    height: 7vh;

    // grig config
    grid-column: 1 / sapn 4;
    // grid-row:  1/ span 2;
}

#sidebar{
    background-color: rgb(2, 2, 92);
    height: 93vh;

    // grig config
    grid-column: 1 /span 1;
    grid-row: 2 / span 3;
}

main{
    background-color: #eee;
    height: 88vh;
    grid-column: 2 / span 3;
    grid-row: 2 / span 2;
}

footer{
    background-color: #ddd;
    height: 5vh;
    grid-column: 2 / span 3;


    text-align: center;
    color: #888;
    
}

/***** GENERAL CONFIG END *****/

/***** IMPORTING FILE START *****/
    @import './header';
    @import './sidebar';

    
/***** IMPORTING FILE END *****/

@media(min-width:500px){
    body{
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr ;    
    }
    
}
@media(min-width:720px){
    body{
        display: grid;
        grid-template-columns: 0.4fr 1fr 1fr 1fr ;    
    }
    
}
@media(min-width:992px){
    body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr !important;    
    }
    #sdb-slide{
        display: none;
    }
    .sb-content{
        display: inline !important;
    }
    .sd-title{
        display: block;
        color: #ddd;
        font-size: 16px;
        text-transform: uppercase;
        margin-left: 15px;
        margin-bottom: 20px;
    }

    #sidebar{
        .sb-content{
            margin-left: 10px !important;
        }
    }
}